{% extends "player_base.html" %}
{% block latest_stats %}
    <div class="years">{{ last_season['SEASON_ID'] }}</div>
    <ul class="per-game-stats">
        <li class="pg-stat">
            <div class="pg-label">PTS</div>
            <div class="pg-value">{{ last_season['PTS'] }}</div>
        </li>
        <li class="pg-stat">
            <div class="pg-label">REB</div>
            <div class="pg-value">{{ last_season['REB'] }}</div>
        </li>
        <li class="pg-stat">
            <div class="pg-label">AST</div>
            <div class="pg-value">{{ last_season['AST'] }}</div>
        </li>
    </ul>
{% endblock %} 

{% block game_stats %}
    <ul class="latest-game-stats">
        <li class="game-stat">
            <div class="game-label">MINS</div>
            <div class="game-value">10</div>
        </li>
        <li class="game-stat">
            <div class="game-label">PTS</div>
            <div class="game-value">10</div>
        </li>
        <li class="game-stat">
            <div class="game-label">REB</div>
            <div class="game-value">10</div>
        </li>
        <li class="game-stat">
            <div class="game-label">AST</div>
            <div class="game-value">10</div>
        </li>
    </ul>
{% endblock %}

{% block reg_season_stats %}
    {% for row in reg_season %}
        {% set stats_row = row[1] %}
        <tr>
            <th>{{ stats_row['SEASON_ID'] }}</th>
            <th>{{ stats_row['TEAM_ABBREVIATION'] }}</th>
            <th>{{ stats_row['GP'] }}</th>
            <th>{{ stats_row['GS'] }}</th>
            <th>{{ stats_row['MIN'] }}</th>
            <th>{{ stats_row['PTS'] }}</th>
            <th>{{ stats_row['REB'] }}</th>
            <th>{{ stats_row['AST'] }}</th>
            <th>{{ stats_row['STL'] }}</th>
            <th>{{ stats_row['BLK'] }}</th>
            <th>{{ stats_row['FGM'] }}</th>
            <th>{{ stats_row['FGA'] }}</th>
            <th>{{ stats_row['FG_PCT'] }}</th>
            <th>{{ stats_row['FG3M'] }}</th>
            <th>{{ stats_row['FG3A'] }}</th>
            <th>{{ stats_row['FG3_PCT'] }}</th>
            <th>{{ stats_row['FTM'] }}</th>
            <th>{{ stats_row['FTA'] }}</th>
            <th>{{ stats_row['FT_PCT'] }}</th>
            <th>{{ stats_row['OREB'] }}</th>
            <th>{{ stats_row['DREB'] }}</th>
            <th>{{ stats_row['TOV'] }}</th>
            <th>{{ stats_row['PF'] }}</th>
        </tr>
    {% endfor %}
    <tr>
        <th>Career</th>
        <th></th>
        <th>{{ reg_season_totals['GP'] }}</th>
        <th>{{ reg_season_totals['GS'] }}</th>
        <th>{{ reg_season_totals['MIN'] }}</th>
        <th>{{ reg_season_totals['PTS'] }}</th>
        <th>{{ reg_season_totals['REB'] }}</th>
        <th>{{ reg_season_totals['AST'] }}</th>
        <th>{{ reg_season_totals['STL'] }}</th>
        <th>{{ reg_season_totals['BLK'] }}</th>
        <th>{{ reg_season_totals['FGM'] }}</th>
        <th>{{ reg_season_totals['FGA'] }}</th>
        <th>{{ reg_season_totals['FG_PCT'] }}</th>
        <th>{{ reg_season_totals['FG3M'] }}</th>
        <th>{{ reg_season_totals['FG3A'] }}</th>
        <th>{{ reg_season_totals['FG3_PCT'] }}</th>
        <th>{{ reg_season_totals['FTM'] }}</th>
        <th>{{ reg_season_totals['FTA'] }}</th>
        <th>{{ reg_season_totals['FT_PCT'] }}</th>
        <th>{{ reg_season_totals['OREB'] }}</th>
        <th>{{ reg_season_totals['DREB'] }}</th>
        <th>{{ reg_season_totals['TOV'] }}</th>
        <th>{{ reg_season_totals['PF'] }}</th>
    </tr>
{% endblock %}
{% block post_season_stats %}
    {% for row in post_season %}
        {% set stats_row = row[1] %}
        <tr>
            <th>{{ stats_row['SEASON_ID'] }}</th>
            <th>{{ stats_row['TEAM_ABBREVIATION'] }}</th>
            <th>{{ stats_row['GP'] }}</th>
            <th>{{ stats_row['GS'] }}</th>
            <th>{{ stats_row['MIN'] }}</th>
            <th>{{ stats_row['PTS'] }}</th>
            <th>{{ stats_row['REB'] }}</th>
            <th>{{ stats_row['AST'] }}</th>
            <th>{{ stats_row['STL'] }}</th>
            <th>{{ stats_row['BLK'] }}</th>
            <th>{{ stats_row['FGM'] }}</th>
            <th>{{ stats_row['FGA'] }}</th>
            <th>{{ stats_row['FG_PCT'] }}</th>
            <th>{{ stats_row['FG3M'] }}</th>
            <th>{{ stats_row['FG3A'] }}</th>
            <th>{{ stats_row['FG3_PCT'] }}</th>
            <th>{{ stats_row['FTM'] }}</th>
            <th>{{ stats_row['FTA'] }}</th>
            <th>{{ stats_row['FT_PCT'] }}</th>
            <th>{{ stats_row['OREB'] }}</th>
            <th>{{ stats_row['DREB'] }}</th>
            <th>{{ stats_row['TOV'] }}</th>
            <th>{{ stats_row['PF'] }}</th>
        </tr>
    {% endfor %}
{% endblock %}