<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="../static/player_stats.css"/>
		<link rel="stylesheet" href="../static/player_base.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="grid margin-center container">
			<div class="flex full-width page-title">
				<div class="margin-center picture">
					<img src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png"/>
				</div>
				<div class="grid full-width title-content">
					<div class="flex player-info">
						<div class="name">
							<p>Luka Doncic</p>
						</div>
						<div class="team-info">Mavericks</div>
					</div>
					<nav class="player-nav-bar">
						<ul class="flex player-nav-links">
							<li><a href="#">Overview</a></li>
							<li><a href="#">Shotchart</a></li>
							<li><a href="#">Info</a></li>
						</ul>
					</nav>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>