<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="../static/styles.css"/>
		<link rel="stylesheet" href="../static/player_base.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="container">
			<div class="title-card">
				<div class="picture">
					<img src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png"/>
				</div>
				<div class="info">
					<div class="bio">
						<div class="name">
							<p id="name">Luka Doncic</p>
						</div>
						<div class="team-info">Mavericks</div>
					</div>
					<nav class="nav-bar">
						<ul class="nav-links">
							<li><a href="#">Overview</a></li>
							<li><a href="#">Shotchart</a></li>
							<li><a href="#">Info</a></li>
						</ul>
					</nav>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>