<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="../static/styles.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="container">
			<div class="picture">
				<img src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png"/>
			</div>
			<div class="player-info">
				<div class="stat-nav-bar"></div>
			</div>
			<div class="season-summary">
				<div class="'season-years"></div>
				<div class="pg-stat"></div>
				<div class="pg-stat"></div>
				<div class="pg-stat"></div>
			</div>
			<div class="season-stats">
				<div class="reg-season">
					<div class="season-label"></div>
				</div>
				<div class="post-season">
					<div class="season-label"></div>
				</div>
			</div>
		</div>
	</body>
</html>