{% extends "player_team_base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ url_for('static', filename="player_stats.css") }}/>
    <link rel="stylesheet" href={{ url_for('static', filename="team_schedule.css") }}/>
{% endblock %}

{% block page_navbar %}
    <li><a href="#">Overview</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Info</a></li>
{% endblock %}

{% block content %}
    <div class="flex-col">
        <div class="schedule-title">Dallas Mavericks Schedule</div>
        <div class="schedule-options">
            <form action="nothing">
                <select name="season" id="season"></select>
                <select name="season-type" id="season-type"></select>
            </form>
        </div>
        <p>Regular Season</p>
        <div class="schedule">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Opponent</th>
                        <th>Result</th>
                        <th>Record</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in schedule %}
                        <tr>
                            <th>{{ game[0] }}</th>
                            <th>{{ game[2] }} {{ game[1] }}</th>
                            <th>{{ game[3] }}</th>
                            <th>{{ game[4] }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}